:root {
  --font-display: "Archivo Black", sans-serif;
  --font-mono: "Space Mono", monospace;

  --color-ink: #1b1b1b;
  --color-canvas: #ebebeb;

  --accent-chroma: 0.15;

  --color-accent-1: oklch(78% var(--accent-chroma) 25); /* red */
  --color-accent-2: oklch(83% var(--accent-chroma) 62); /* orange */
  --color-accent-3: oklch(90% var(--accent-chroma) 100); /* yellow */
  --color-accent-4: oklch(85% var(--accent-chroma) 145); /* green */
  --color-accent-5: oklch(84% calc(var(--accent-chroma) - 0.04) 195); /* teal */
  --color-accent-6: oklch(76% calc(var(--accent-chroma) - 0.02) 250); /* blue */
  --color-accent-7: oklch(72% var(--accent-chroma) 295); /* violet */
  --color-accent-8: oklch(79% var(--accent-chroma) 335); /* magenta */

  --color-accent-deep: oklch(50% 0.2 25);

  --spacing: 0.25rem;

  --header-height: calc(12 * var(--spacing));
  --content-height: calc(100dvh - var(--header-height));
  --settings-height: var(--content-height);
  --settings-footer-height: calc(11 * var(--spacing));
  --settings-rail-width: 2.5rem;
  --slide-duration: 320ms;
  --row-height: calc(12 * var(--spacing));
  --rows-vertical-margin: clamp(60px, 100dvh, 10dvh);

  --border-thick: var(--spacing);
  --shadow-hard: var(--spacing) var(--spacing) 0px var(--color-ink);

  --translate-active: var(--spacing), var(--spacing);
  --shadow-active: 0px 0px 0px var(--color-ink);

  --screen-breakpoint: 52rem; /* unused, but here for reference */
}

@media (min-width: 52rem) {
  :root {
    --settings-height: clamp(20rem, 45dvh, 120rem);
  }
}
