.cluster {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.turned-up {
    flex-direction: row-reverse;
  }
}

.app {
  height: 100dvh;
  overflow: clip;
}

.content {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: var(--content-height);
}

.settings,
.rows {
  grid-column: 1;
  grid-row: 1;
}

.settings {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-rows: minmax(0, 1fr) auto;
  position: relative;
}

.settings__footer {
  grid-column: 1 / -1;
}

.rows {
  position: relative;
  container-type: inline-size;
  container-name: rows;
}

.projection {
  display: none;
  grid-column: 1 / -1;
  grid-row: 1;
  position: relative;
  pointer-events: none;
}

@media (width < 52rem) {
  .content {
    overflow: clip;
  }
}

@media (min-width: 52rem) {
  .burguer {
    display: none;
  }

  .content {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  }

  .settings {
    grid-column: 1;
    align-self: center;
  }

  .rows {
    grid-column: 2;
    margin: var(--rows-vertical-margin) var(--settings-rail-width);
    margin-left: calc(2 * var(--settings-rail-width));
  }

  .projection {
    display: block;
  }
}
