@media (width < 52rem) {
  .settings {
    z-index: 1;
    transform: translateY(-100%);
    visibility: hidden;
    transition:
      transform var(--slide-duration) ease,
      visibility 0s linear var(--slide-duration);
  }

  .app:has(.burguer[aria-expanded="true"]) .settings {
    transform: translateY(0);
    visibility: visible;
    transition:
      transform var(--slide-duration) ease,
      visibility 0s;
  }
}

[aria-expanded="true"] .burguer__bar {
  background-color: transparent;

  &::before {
    translate: 0;
    rotate: 45deg;
  }

  &::after {
    translate: 0;
    rotate: -45deg;
  }
}

@media (prefers-reduced-motion: reduce) {
  .settings,
  .burguer__bar,
  .burguer__bar::before,
  .burguer__bar::after {
    transition: none;
  }
}
